* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444873;
}

html {
    font-size: 62.5%;
}

.container {
    font-size: 3em;
    margin: 100px 200px;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.box-1 {
    
}